@import "~src/scss/base";

.article-additional-info {
    padding: 1em;

    &__subtitle {
        margin-bottom: 1em;
        font-weight: 700;
    }

    &__list {
        padding-left: 20px;
        font-size: 0.9em;
    }
}
