@import "~src/scss/base";

.article-description {
    padding: 1em;
    &__name {
        margin-bottom: 1em;
        border-bottom: 1px solid $grey;
    }

    &__short-description {
        font-size: 1.1em;
    }
}
